body {
    background-color: #CCDBDC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home__header {
    max-width: 100%;
    display: flex;
    background-color: #003249;
    height: 6vh;
    color: #CCDBDC;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

.home__header-title {
    font-size: 1.2rem;
}

.home__header-title-link {
    color: #CCDBDC;
    text-decoration: none;    
}
.home__header-title-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.home__header-links {
    font-size: 1.2rem;
    display: flex;
    gap: 3rem;
}

.home__header-link {
    color: #CCDBDC;
    text-decoration: none;    
}

.home__header-link:hover {
    font-weight: bold;
    text-decoration: underline;
}